#logo{
    height: 17vh;
    margin-top: 20px;
}

#contacts{
    background-color: aqua;
}

.img-thumbnail{
    height: 200px;

}

.carousel-inner,.carousel-item{
    height:60vh;
    padding-bottom: 50px;
}
#deals{
    padding-top: 20px;
}

#emblem{
    background-color: black;
    padding-top: 40px;
    padding-bottom: 20px;
    color: white;
}

.footer{
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: gray;
}
